body {
	background: #222;
	color: rgb(135, 236, 240);
}

.app-container {
	margin: 20px;
	width: 300px;
}

.form-container {
	width: 90%;
	margin-top: 15px;
}

p.invalid {
	display: block;
	color: crimson;
	font-size: 0.7em;
}

p.valid {
	display: none;
}

.form-container .form-item {
	margin-bottom: 7px;
	display: flex;
}

.form-container .form-item label {
	flex: 1.5;
}

.form-container .form-item input {
	flex: 3;
	background: rgb(189, 189, 189);
}

/* .form-container .form-item + p {
	color: crimson;
} */

.submit-container {
	text-align: right;
	margin-top: 20px;
}
