body {
	background: #234;
}

.button-container {
	margin: 20px 0 0 10px;
}

button {
	margin-left: 20px;
}

.Modal {
	border: 1px solid teal;
	position: absolute;
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	height: 400px;
	width: 600px;
}

header h2 {
	display: inline;
	padding-right: 20px;
}

span:hover {
	cursor: pointer;
}
